{% extends "bootstrap/base.html" %}
{% block content %}
<head>
    <!-- <title>SpaCify</title> -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
</head>
<body>

{{header |safe}}

<br><br>

<div class="container" style="text-align:center">
    <form method="POST" action="/generated_articles" class="form-group">

    <label for="link1" style="font-size:20px">Links or text for articles</label><br>
    <input type="text" id="link1" name="c_link1">
    <br>
    <input type="text" id="link2" name="c_link2">
    <br>
    <input type="text" id="link3" name="c_link1">
    <br>
    <input type="text" id="link4" name="c_link2">
    <br>
    <input type="text" id="link5" name="c_link1">
    <br>
    <input type="text" id="link6" name="c_link2">
    <br>
    <input type="text" id="link7" name="c_link1">
    <br>
    <input type="text" id="link8" name="c_link2">
    <br><br>

    <button type="submit" class="btn btn-outline-primary">Submit</button>


    </form>


</div>


</body>
{% endblock %}
{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}