{% extends "bootstrap/base.html" %}
{% block content %}
<head>
    <!-- <title>SpaCify</title> -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
</head>
<body>

{{header |safe}}

<br><br>

<div class="container">
    <form method="POST" action="/generated_articles" class="form-group">

    <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <th colspan="2" style="text-align:center"><p style="font-size:20px">Left Leaning Articles</p></th>
        <th colspan="2" style="text-align:center"><p style="font-size:20px">Right Leaning Articles</p></th>
      </tr>
      <tr>
        <th style="width:130px"><p style="font-size:15px">Link</p></th>
        <th style="width:400px"><p style="font-size:15px">Copy and Paste Article</p></th>
        <th style="width:130px"><p style="font-size:15px">Link</p></th>
        <th style="width:400px"><p style="font-size:15px">Copy and Paste Article</p></th>
      </tr>
      <tr>
        <td><textarea name="l_link1" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="l_text1" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link1" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_text1" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link2" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="l_text2" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link2" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_text2" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link3" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="l_text3" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link3" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_text3" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link4" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="l_text4" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link4" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_text4" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link5" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="l_text5" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link5" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_text5" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
    </table>
    <br><br>

    <button type="submit" class="btn btn-outline-primary">Submit</button>


    </form>


</div>

<br><br><br>
<div class="container">
    <br><br>
    <p>Total time: {{total_time}} minutes</p>
    <br><br>
    <h1>Generated Articles:</h1>
    <br><br>


    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th colspan="2"><p>Overall Summaries:</p></th>
        </tr>
        <tr>
            <th colspan="2"><p>{{overall_summary1 | safe}}</p></th>
        </tr>
        <tr>
            <th colspan="2"><p>{{overall_summary3 | safe}}</p></th>
        </tr>
        <tr>
            <th style="text-align:center"><p style="font-size:20px">Left Summary 1</p></th>
            <th style="text-align:center"><p style="font-size:20px">Right Summary 1</p></th>
        </tr>

        <tr>
            <td>
                <p>{{left_summary1 | safe}}</p>
            </td>
            <td>
                <p>{{right_summary1 | safe}}</p>
            </td>
        </tr>

        <tr>
            <th style="text-align:center"><p style="font-size:20px">Left Summary 2</p></th>
            <th style="text-align:center"><p style="font-size:20px">Right Summary 2</p></th>
        </tr>

        <tr>
            <td>
                <p>{{left_summary3 | safe}}</p>
            </td>
            <td>
                <p>{{right_summary3 | safe}}</p>
            </td>
        </tr>

    </table>
    <hr>

    <br><br>



</div>

<br><br><br><br><br>

</body>
{% endblock %}
{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}