{% extends "bootstrap/base.html" %}
{% block content %}
<head>
    <!-- <title>SpaCify</title> -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
</head>
<body>

{{header |safe}}

<br><br>

<div class="container">
    <form method="POST" action="/generated_articles" class="form-group">

    <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <th style="text-align:center"><p style="font-size:20px">Left Articles</p></th>
        <th style="text-align:center"><p style="font-size:20px">Right Articles</p></th>
      </tr>
      <tr>
        <th style="width:130px"><p style="font-size:15px">Link</p></th>
        <th style="width:130px"><p style="font-size:15px">Link</p></th>
      </tr>
      <tr>
        <td><textarea name="l_link1" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link1" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link2" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link2" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link3" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link3" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link4" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link4" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td><textarea name="l_link5" cols="3" rows="3" class="form-control"></textarea></td>
        <td><textarea name="r_link5" cols="3" rows="3" class="form-control"></textarea></td>
      </tr>
    </table>
    <br><br>

    <label for="num_sentences">Number of Sentences to Output for Sentiment and Subjectivity:</label><br>
    <input type="text" id="num_sentences" name="num_sentences">
    <br><br>

    <button type="submit" class="btn btn-outline-primary">Submit</button>


    </form>


</div>


</body>
{% endblock %}
{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}